<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Budget
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Budget</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Budget du mois</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #chart style="max-height:400px;"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Détails</ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="titreCol">
            Dépense
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let charge of charges">
          <ion-col>
            {{charge.nom}} :
          </ion-col>
          <ion-col>
            {{charge.montant}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="titreCol">
            Revenus
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let revenu of revenus">
          <ion-col>
            {{revenu.nom}} :
          </ion-col>
          <ion-col>
            {{revenu.montant}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="titreCol">
            Reste
          </ion-col>          
        </ion-row>
        <ion-row>
          <ion-col col-12>
            {{total[2]}}
          </ion-col>          
        </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>