<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Budget
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Budget</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Budget</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas #chart></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card-header>Budget du mois</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header color="primary">
          Dépense
        </ion-list-header>
        <ion-item *ngFor="let charge of charges">
          {{charge.nom}} : {{charge.montant}}
        </ion-item>
        <ion-list-header color="primary">
          Revenus
        </ion-list-header>
        <ion-item *ngFor="let revenu of revenus">
          {{revenu.nom}} : {{revenu.montant}}
        </ion-item>
        <ion-list-header color="primary">
          Reste
        </ion-list-header>
        <ion-item>
          {{total[2]}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
